#  Hi,We are free ,please avoid fraud.
#  Generated at 2023-12-31 00:00 by YuWell
#  Clash Meta Core
ipv6: true
allow-lan: true
mixed-port: 7890
unified-delay: false
tcp-concurrent: true
external-controller: 127.0.0.1:9090
external-ui: ui
external-ui-url: "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip"
geo-update-interval: 24
geodata-mode: true

geox-url:
  geoip: "https://git.yuwell.cloudns.org/https://github.com/YuWell-Loong/Meta.Rules.Dat/releases/download/latest/geoip-lite.dat"
  geosite: "https://git.yuwell.cloudns.org/https://github.com/YuWell-Loong/Meta.Rules.Dat/releases/download/latest/geosite.dat"
  mmdb: "https://git.yuwell.cloudns.org/https://github.com/YuWell-Loong/Meta.Rules.Dat/releases/download/latest/country-lite.mmdb"

find-process-mode: strict
global-client-fingerprint: chrome

profile:
  store-selected: true
  store-fake-ip: true

sniffer:
  enable: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]

tun:
  enable: true
  stack: mixed
  dns-hijack:
    - "any:53"
  auto-route: true
  auto-detect-interface: true

dns:
  enable: true
  listen: :1053
  ipv6: true
  enhanced-mode: fake-ip
  fake-ip-range: 28.0.0.1/8
  fake-ip-filter:
    - "*"
    - "+.lan"
    - "+.local"
  nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
  default-nameserver:
    - 223.5.5.5
    - 1.1.1.1
    - 119.29.29.29
  proxy-server-nameserver:
    - https://doh.pub/dns-query
  nameserver-policy:
    "geosite:private":
      - https://doh.pub/dns-query
      - https://dns.alidns.com/dns-query
    "geosite:geolocation-!cn":
      - "https://dns.cloudflare.com/dns-query#dns"
      - "https://dns.google/dns-query#dns"
